.ToDoApp{
	background: #76bcc591;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 600px;
	margin: 50px 0;
	box-shadow: 0 0 10px black;
	border: 1px solid black;
}


.questCount{
  margin: 20px 10px;
}

.textbox ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	word-wrap: break-word;
}

.textbox li{
	display: inherit;
	align-items: center;
	flex-direction: row;
	border-bottom: 1px solid gray;
}

.textbox label{
	font-size: 25px;
	padding: 15px 10px 15px 15px;
}

mat-checkbox{
	padding-left: 10px;
}

mat-form-field{
	width: 100%;
	font-size: 35px;
}

.deletebutton{
	position: absolute;
	right: 0;
}

.marked{
	text-decoration: line-through;
}
