<div class="ToDoApp">
	<div class = "textbox">
	<mat-form-field>
			<input id = "questPole" autofocus (keyup.enter)='addQuest(quest)' matInput [(ngModel)]="quest" placeholder="What you want to do?" />
	</mat-form-field>
		<ul>
			<li [ngClass]="{marked: questList[i].state}" *ngFor="let item of draw(); index as i">
				<mat-checkbox (change) = "toggleLine(i)"></mat-checkbox>
				<label>{{item}}</label>
				<button class = "deletebutton" mat-button (click)="removeQuest(i)">X</button>
				</li>
			</ul>
		</div>
	<div class="questCount">
		<label>{{itemCounting()}} items left </label>
			<div class = "questType">
					<mat-checkbox [(ngModel)] = "check[0]" (change) = "draw()">Marked</mat-checkbox>
					<mat-checkbox [(ngModel)] = "check[1]" (change) = "draw()">Unmarked</mat-checkbox>
			</div>
		</div>
</div>