body{
	background: #F7C499;
	display: flex;
	justify-content: center;
	align-items: center;
}

mat-checkbox{
	margin-right: 5px;
}
li{
	transform: translateX(-40px);
	list-style-type: none;
}

.marked{
	text-decoration: line-through;
}